.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 60%;
    margin-left: 20%;
}

.register , .login{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
}

.login{
    display: none;
}

input{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.btn{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

    & a{
        color: #000;
        font-size: 25px;
        text-decoration: none;
    }
}

#signup.active,
#signin.active {
  color: blue;
  border-bottom: 2px solid blue;
}

button{
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    cursor: pointer;
    width: 40%;
    margin-left: 30%;
    margin-top: 20px;
}

.error {
    color: red;
    font-size: 0.9em;
  }
