#sidebar {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    margin-top: 10px;
}

.folder {
    display: flex;
    flex-direction: column;
}

.folder-header {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.icon {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.folder-header:hover, .file:hover {
    background-color: #f0f0f0;
}

.file {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.sub-folder {
    padding-left: 20px;
    display: none; 
}

.sub-folder.active {
    display: block;
}

.newAdd{
    margin-left: 10px;
    display: flex;
    gap: 10px;
}

button{
    padding: 5px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
}

.name-input{
    margin-top: 10px;
    padding: 5px;
    width: 80%;
    justify-content: center;
}

#sidebar {
    transition: max-height 0.5s ease;
    overflow: hidden;
}

#sidebar.collapsed {
    max-height: 0;
}